version: 1
name: basic-live-migration-test
run_id: run

env:
  LOG_LEVEL: info
  QUEUE_SEGMENT_MAX_BYTES: 10485760

export_dir: ./export-dir
artifacts_dir: ./artifacts

source:
  type: postgresql
  host: 127.0.0.1
  port: 5432
  database: test_db
  user: ybvoyager
  password: Test@123#$%^&*()!
  schema: public
  admin:
    user: postgres
    password: postgres

target:
  type: yugabytedb
  host: ${TARGET_DB_HOST}
  port: ${TARGET_DB_PORT}
  database: test_db
  user: ${TARGET_DB_USER}
  password: ${TARGET_DB_PASSWORD}
  admin:
    user: ${TARGET_DB_ADMIN_USER}
    password: ${TARGET_DB_ADMIN_PASSWORD}

generator:
  config_inline:
    connection:
      host: 127.0.0.1
      port: 5432
      database: test_db
      user: postgres
      password: postgres

    generator:
      schema_name: public
      manual_table_list: []
      exclude_table_list: [cutover_table]
      num_iterations: -1
      wait_after_operations: 1000
      wait_duration_seconds: 1
      table_weights: {}
      operation_weights: {INSERT: 3, UPDATE: 2, DELETE: 1}
      random_seed: 123
      faker_seed: 123
      insert_rows: 3
      update_rows: 2
      delete_rows: 1
      insert_max_retries: 5
      update_max_retries: 1

voyager:
  cutover_to_target:
    flags:
      prepare-for-fall-back: false
  import_schema:
    flags:
      start-clean: true

stages:

  - name: create_source_and_target_dbs
    action: reset_databases
    targets: [source, target]

  - name: create_source_schema
    action: run_sql
    sql_path: ../common-sql/init.sql
    use_admin: true

  - name: grant_source_permissions
    action: grant_source_permissions

  - name: export_schema_from_source
    action: voyager_export_schema

  - name: import_schema_on_target
    action: voyager_import_schema

  - name: start_event_generator
    action: generator_start

  - name: load_snapshot
    action: sleep
    seconds: 1200

  - name: start_exporter
    action: voyager_export_start

  - name: start_importer
    action: voyager_import_start

  - name: start_import_resumptions
    action: start_resumptions
    resumption:
      import_data:
        max_restarts: 50
        min_interrupt_seconds: 15
        max_interrupt_seconds: 60
        min_restart_wait_seconds: 5
        max_restart_wait_seconds: 30

  - name: wait_exporter_streaming
    action: wait_for
    condition: exporter_in_streaming_phase
    timeout_sec: 600

  - name: start_export_resumptions
    action: start_resumptions
    resumption:
      export_data:
        max_restarts: 50
        min_interrupt_seconds: 15
        max_interrupt_seconds: 60
        min_restart_wait_seconds: 5
        max_restart_wait_seconds: 30

  - name: soak_with_resumptions
    action: sleep
    seconds: 3000

  - name: stop_event_generator
    action: generator_stop
    graceful_timeout_sec: 60

  - name: insert_backlog_marker
    action: run_sql
    target: source
    sql_path: ../common-sql/insert_marker.sql

  - name: wait_backlog_zero
    action: wait_for
    condition: remaining_events_eq_0
    timeout_sec: 3000

  - name: stop_export_resumptions
    action: voyager_stop_resumptions
    command: export_data
    timeout_sec: 60

  - name: stop_import_resumptions
    action: voyager_stop_resumptions
    command: import_data
    timeout_sec: 60

  - name: cutover_to_target
    action: cutover_to_target

  - name: wait_cutover_completed
    action: wait_for
    condition: cutover_to_target_status_completed
    timeout_sec: 900

  - name: validate_row_counts
    action: row_count_validations

  - name: row_hash_validations
    action: row_hash_validations

  - name: cleanup_source
    action: run_sql
    sql_path: ../common-sql/cleanup.sql
  - name: cleanup_target
    action: run_sql
    target: target
    sql_path: ../common-sql/cleanup.sql
