yb-voyager/yb-voyager

diagnostics.json
yb-voyager.log
OneMRows.text
export-dir/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea
*.vscode
*.python-version

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# vim temp files.
*.swp

# skipping __pycache__ directory and *.pyc files
__pycache__/

# skipping export-dir directories for analyze schema automation tests
migtests/tests/analyze-schema/dummy-export-dir/reports/
migtests/tests/analyze-schema/dummy-export-dir/logs/
migtests/tests/analyze-schema/dummy-export-dir/.*.lck

# debezium server
debezium-server-voyager/**/target/