<!DOCTYPE html>
<html>
<head>
    <title>Migration Assessment Report</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Migration Assessment Report</h1>
    <h2>Sharding Recommendations</h2>
    <table>
        <tr>
            <th>Colocated Tables</th>
            <th>Sharded Tables</th>
        </tr>
        <tr>
            <td>{{range .ColocatedTables}}{{.}}<br>{{end}}</td>
            <td>{{range .ShardedTables}}{{.}}<br>{{end}}</td>
        </tr>
    </table>
    <h2>Sizing Recommendations</h2>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Recommendation</th>
        </tr>
        <tr><td>Num of Nodes</td><td>{{ .NumNodes }}</td></tr>
        <tr><td>vCPU per instance</td><td>{{ .VCPUsPerInstance }}</td></tr>
        <tr><td>Memory per instance(GiB)</td><td>{{ .MemoryPerInstance }}</td></tr>
        <tr><td>Optimal select connections per node</td><td>{{ if eq .OptimalSelectConnectionsPerNode 0 }}--{{else}}{{.OptimalSelectConnectionsPerNode }}{{end}}</td></tr>
        <tr><td>Optimal insert connections per node</td><td>{{ if eq .OptimalInsertConnectionsPerNode 0 }}--{{else}}{{.OptimalInsertConnectionsPerNode}}{{end}}</td></tr>
        <tr><td>Estimated time taken for migration </td><td>{{ .MigrationTimeTakenInMin }} min</td></tr>
    </table>
    <h3>Reasoning: </h3>
    <p>{{ .ColocatedReasoning }}</p>
</body>
</html>