<!DOCTYPE html>
<html>
<head>
    <title>Migration Assessment Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .wrapper {
            max-width: 960px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        h1, h2, h3 {
            color: #333;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            vertical-align: top; /* Vertically center content in table cells */
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even){background-color: #f9f9f9;}
        ul {
            padding-left: 20px;
        }
        li {
            margin: 5px 0;
        }
        .scrollable-div {
            max-height: 300px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1>Migration Assessment Report</h1>
        <h2>Schema Summary</h2>
        <p><strong>Database Name:</strong> {{.SchemaSummary.DBName}}</p>
        <p><strong>Schema Name(s):</strong> 
       {{range $i, $a := .SchemaSummary.SchemaNames}}
            {{$a}}&nbsp;
        {{end}}
        <p>
        {{with .SchemaSummary.DBVersion}}
        <p><strong>Database Version:</strong> {{.}}</p>
        {{end}}

        <h2>Database Objects</h2>
        <table>
            <tr>
                <th>Object Type</th>
                <th>Total Count</th>
                <th>Object Names</th>
            </tr>
            {{range .SchemaSummary.DBObjects}}
            <tr>
                <td>{{.ObjectType}}</td>
                <td>{{.TotalCount}}</td>
                <td>
                    <div class="scrollable-div">
                        {{range split .ObjectNames ","}}
                            {{.}}<br>
                        {{end}}
                    </div>
                </td>
            </tr>
            {{end}}
        </table>

        {{with .Sizing}}
            <h2>Sharding Recommendations</h2>
                {{ if eq .FailureReasoning "" }}
                    {{ with .SizingRecommendation }}
                        <table>
                            <tr>
                                <th>Colocated Tables</th>
                                <th>Sharded Tables</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="scrollable-div">
                                        {{range .ColocatedTables}}
                                            {{.}}<br>
                                        {{end}}
                                    </div>
                                </td>
                                <td>
                                    <div class="scrollable-div">
                                        {{range .ShardedTables}}
                                            {{.}}<br>
                                        {{end}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    <h2>Sizing Recommendations</h2>
                        <table>
                            <tr>
                                <th>Parameter</th>
                                <th>Recommendation</th>
                            </tr>
                            <tr><td>Num of Nodes</td><td>{{ .NumNodes }}</td></tr>
                            <tr><td>vCPU per instance</td><td>{{ .VCPUsPerInstance }}</td></tr>
                            <tr><td>Memory per instance(GiB)</td><td>{{ .MemoryPerInstance }}</td></tr>
                            <tr><td>Optimal select connections per node</td><td>{{ if eq .OptimalSelectConnectionsPerNode 0 }}--{{else}}{{.OptimalSelectConnectionsPerNode }}{{end}}</td></tr>
                            <tr><td>Optimal insert connections per node</td><td>{{ if eq .OptimalInsertConnectionsPerNode 0 }}--{{else}}{{.OptimalInsertConnectionsPerNode}}{{end}}</td></tr>
                            <tr><td>Parallel Voyager Jobs</td><td>{{ .ParallelVoyagerJobs }}</td></tr>
                            <tr><td>Estimated time taken for data import </td><td>{{ .EstimatedTimeInMinForImport }} min</td></tr>
                        </table>
                    <h3>Reasoning: </h3>
                    <p>{{ .ColocatedReasoning }}</p>
                {{ end }}
                {{else}}
                    <p>Could not perform sizing assessment:  {{ .FailureReasoning }}</p>
            {{ end }}
        {{end}}

        <h2>Unsupported Data Types</h2>
        {{ if .UnsupportedDataTypes }}
            <div class="scrollable-div">
                <table>
                    <tr>
                        <th>Schema</th>
                        <th>Table</th>
                        <th>Column</th>
                        <th>Data Type</th>
                    </tr>
                    {{range .UnsupportedDataTypes}}
                    <tr>
                        <td>{{.SchemaName}}</td>
                        <td>{{.TableName}}</td>
                        <td>{{.ColumnName}}</td>
                        <td>{{.DataType}}</td>
                    </tr>
                    {{end}}
                </table>
            </div>
        {{ else }}
            <p>No unsupported data types detected in the assessed schemas.</p>
        {{ end }}

        <h2>Unsupported Features</h2>
        {{ $hasUnsupportedFeatures := false }}
        {{range .UnsupportedFeatures}}
            {{if .ObjectNames}} <!-- Check if ObjectNames is not empty -->
                {{ $hasUnsupportedFeatures = true }}
                <h3>{{.FeatureName}}</h3>
                <ul>
                    <div class="scrollable-div">
                        {{range .ObjectNames}}
                            <li>{{.}}</li>
                        {{end}}
                    </div>
                </ul>
            {{end}}
        {{end}}
        {{if not $hasUnsupportedFeatures}} <!-- Check if no unsupported features were found -->
            <p>No unsupported features were detected among the ones assessed.</p>
        {{end}}
    </div>
</body>
</html>
