<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oracle Bulk Assessment Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            margin: 40px auto;
            padding: 20px;
            max-width: 800px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .schema-report {
            border-bottom: 1px solid #ccc;
            padding: 20px 0;
        }
        .schema-report:last-child {
            border-bottom: none;
        }
        h1 {
            text-align: center;
            color: #444;
        }
        p {
            margin: 10px 0;
        }
        .note {
            margin-top: 30px;
            font-style: italic;
            color: #555;
        }
        a {
            color: #0066cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Oracle Bulk Assessment Report</h1>
        {{range .Details}}
        <div class="schema-report">
            <p><strong>Schema Name:</strong> {{.Schema}}</p>
            <p><strong>Instance/DB Name:</strong> {{.DatabaseIdentifier}}</p>
            <p><strong>Report Path:</strong> <a href="{{.ReportPath}}">{{.ReportPath}}</a></p>
            <p><strong>Status:</strong> {{.Status}}</p>
        </div>
        {{end}}
        <div class="note">
            <p>Note: If you want to apply recommendations generated by the bulk assessment command, either the report should be present inside the export-dir at the default path or you can provide the path to the corresponding assessment report using the --assessment-report-path flag in the export schema command.</p>
            <p>Advise the user to step into the corresponding export-dir.</p>
        </div>
    </div>
</body>
</html>