<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oracle Bulk Assessment Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            margin: 40px auto;
            padding: 20px;
            max-width: 800px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #444;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        a {
            color: #0066cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Oracle Bulk Assessment Report</h1>
        <table>
            <thead>
                <tr>
                    <th>Schema Name</th>
                    <th>Instance/DB Name</th>
                    <th>Report Path</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{range .Details}}
                <tr>
                    <td>{{.Schema}}</td>
                    <td>{{.DatabaseIdentifier}}</td>
                    <td><a href="{{.ReportPath}}" target="_blank">{{.ReportPath}}</a></td>
                    <td>{{.Status}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        
        {{if .Notes}}
            <br>
            <hr>
            <div>
                <h4>Notes</h4>
                    <ul>
                        {{range .Notes}}
                            <li>{{.Text}}</li>
                        {{end}}
                    </ul>
            </div>
        {{end}}
    </div>
</body>
</html>