<!DOCTYPE html>
<html>
<head>
    <title>Migration Assessment Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .wrapper {
            max-width: 960px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        h1, h2, h3 {
            color: #333;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            vertical-align: top; /* Vertically center content in table cells */
        }
        th {
            background-color: #f2f2f2;
        }
        .formatted_table tr:nth-child(even){background-color: #f9f9f9;}
        ul {
            padding-left: 20px;
        }
        li {
            margin: 5px 0;
        }
        .scrollable-div {
            max-height: 300px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }
        #refer-p {
            font-size: 0.8em; 
            color: inherit; 
        }

        #refer-p a {
            color: inherit; 
        }
        .list_item {
            margin-bottom: 15px;
        }
        pre {
            width: 100%; /* Ensure the pre/code content takes full width of the container */
            word-wrap: break-word; /* Break long lines into multiple lines */
            overflow-wrap: break-word; /* Same as word-wrap but for newer browsers */
            white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
            word-break: break-all; /* Prevents long words from overflowing */
            margin: 0; /* Remove default margins */
            padding: 0; /* Remove default padding */
            font-family: monospace; /* Optional: ensure a monospaced font */
        }

    </style>
</head>
<body>
    <div class="wrapper">
        <h1>Migration Assessment Report</h1>
        <p><strong>Voyager Version:</strong> {{ .VoyagerVersion }}</p>
        <p><strong>Database Name:</strong> {{.SchemaSummary.DBName}}</p>
        {{ if .SchemaSummary.SchemaNames}}
            <p><strong>Schema Name:</strong>
            {{range $i, $a := .SchemaSummary.SchemaNames}}
                {{$a}}&nbsp;
            {{end}}
            <p>
        {{end}}
        {{with .SchemaSummary.DBVersion}}
        <p><strong>Database Version:</strong> {{.}}</p>
        {{end}}

        <p><strong>Target YB Version:</strong> {{.TargetDBVersion}} </p>

        {{if eq .MigrationComplexity "NOT AVAILABLE"}}
        <!-- Do nothing -->
        {{else}} 
        <p><strong>Migration Complexity:</strong> {{ .MigrationComplexity }}</p>
        {{end}}

        <h2>Database Objects</h2>
        <p>{{.SchemaSummary.Description}}</p>
        <table>
            <tr>
                <th>Object Type</th>
                <th>Total Objects</th>
                <th>Object Names</th>
            </tr>
            {{range .SchemaSummary.DBObjects}}
            <tr>
                <td>{{.ObjectType}}</td>
                <td>{{.TotalCount}}</td>
                <td>
                    <div class="scrollable-div">
                        {{range split .ObjectNames ","}}
                            {{.}}<br>
                        {{end}}
                    </div>
                </td>
            </tr>
            {{end}}
        </table>

        {{with .Sizing}}
            <h2>Sharding Recommendations</h2>
                {{ if eq .FailureReasoning "" }}
                    {{ with .SizingRecommendation }}
                        <table>
                            <tr>
                                <th>Colocated Tables</th>
                                <th>Sharded Tables</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="scrollable-div">
                                        {{range .ColocatedTables}}
                                            {{.}}<br>
                                        {{end}}
                                    </div>
                                </td>
                                <td>
                                    <div class="scrollable-div">
                                        {{range .ShardedTables}}
                                            {{.}}<br>
                                        {{end}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    <h2>Sizing Recommendations</h2>
                        <table>
                            <tr>
                                <th>Parameter</th>
                                <th>Recommendation</th>
                            </tr>
                            <tr><td>Num of Nodes</td><td>{{ .NumNodes }}</td></tr>
                            <tr><td>vCPU per instance</td><td>{{ .VCPUsPerInstance }}</td></tr>
                            <tr><td>Memory per instance(GiB)</td><td>{{ .MemoryPerInstance }}</td></tr>
                            <tr><td>Optimal select connections per node</td><td>{{ if eq .OptimalSelectConnectionsPerNode 0 }}--{{else}}{{.OptimalSelectConnectionsPerNode }}{{end}}</td></tr>
                            <tr><td>Optimal insert connections per node</td><td>{{ if eq .OptimalInsertConnectionsPerNode 0 }}--{{else}}{{.OptimalInsertConnectionsPerNode}}{{end}}</td></tr>
                            <tr><td>Estimated time taken for data import </td><td>{{ .EstimatedTimeInMinForImport }} min</td></tr>
                        </table>
                    <h3>Reasoning: </h3>
                    <p>{{ .ColocatedReasoning }}</p>
                {{ end }}
                {{else}}
                    <p>Could not perform sizing assessment:  {{ .FailureReasoning }}</p>
            {{ end }}
        {{end}}

        {{if ne .MigrationComplexity "NOT AVAILABLE"}}
            <h2>Migration Complexity Explanation</h2>
            <p>{{ .MigrationComplexityExplanation }}</p>
        {{end}}

        <h2>Unsupported Data Types</h2>
        <p>{{.UnsupportedDataTypesDesc}}</p>
        {{ if .UnsupportedDataTypes }}
            <div class="scrollable-div">
                <table class="formatted_table">
                    <tr>
                        <th>Schema</th>
                        <th>Table</th>
                        <th>Column</th>
                        <th>Data Type</th>
                    </tr>
                    {{range .UnsupportedDataTypes}}
                    <tr>
                        <td>{{.SchemaName}}</td>
                        <td>{{.TableName}}</td>
                        <td>{{.ColumnName}}</td>
                        <td>{{.DataType}}</td>
                    </tr>
                    {{end}}
                </table>
            </div>
        {{ else }}
            <p>No unsupported data types present in the assessed schemas.</p>
        {{ end }}

        <h2>Unsupported Features</h2>
        <p>{{.UnsupportedFeaturesDesc}}</p>
        {{ $hasUnsupportedFeatures := false }}
        {{range .UnsupportedFeatures}}
            {{if .Objects}} <!-- Check if Objects is not empty -->
                {{ $hasUnsupportedFeatures = true }}
                {{if .DisplayDDL }} <!-- for these feature we are displaying the DDLs-->
                    <h4>{{.FeatureName}}</h4>
                    {{ $supporterVerStr := getSupportedVersionString .MinimumVersionsFixedIn }}
                    {{ if $supporterVerStr }}
                    <p>Supported in Versions: {{ $supporterVerStr }} </p>
                    {{ end }}
                    <div class="scrollable-div">
                        <ul>
                            {{range .Objects}}
                                <li class='list_item'>{{.SqlStatement}}</li>
                            {{end}}
                        </ul>
                    </div>
                {{else}}
                    <h4>{{.FeatureName}}</h4>
                    {{ $supporterVerStr := getSupportedVersionString .MinimumVersionsFixedIn }}
                    {{ if $supporterVerStr }}
                    <p>Supported in Versions: {{ $supporterVerStr }} </p>
                    {{ end }}
                    <div class="scrollable-div">
                        <ul>
                            {{range .Objects}}
                                <li class='list_item'>{{.ObjectName}}</li>
                            {{end}}
                        </ul>
                    </div>
                {{end}}
                {{if .DocsLink}}
                    <p id="refer-p"><a href="{{.DocsLink}}" target="_blank">Details</a></p>
                {{end}} 
            {{end}}
        {{end}}
        {{if not $hasUnsupportedFeatures}} <!-- Check if no unsupported features were found -->
            <p>No unsupported features were present among the ones assessed.</p>
        {{end}}

        <h2>Unsupported Query Constructs</h2>
        {{ if .UnsupportedQueryConstructs}}
            <p>Source database queries not supported in YugabyteDB, identified by scanning system tables:</p>
            <table class="formatted_table">
                <tr>
                    <th>Construct Type</th>
                    <th>Queries</th>
                    <th>Details</th>
                </tr>
                {{ $currentType := "" }}
                {{ $docsLink := "" }}
                {{ $supporterVerStr := "" }}
                {{ range $i, $construct := .UnsupportedQueryConstructs }}
                    {{ if ne $construct.ConstructTypeName $currentType }}
                        {{ if ne $currentType "" }}
                                </ul>
                            </div>
                        </td>
                        <td>{{ if $supporterVerStr }}
                            Supported in Versions: {{ $supporterVerStr }}
                            {{ end }}
                            {{ if $docsLink }}
                                <a href="{{ $docsLink }}" target="_blank">Docs Link</a>
                            {{ else }}
                                N/A
                            {{ end }}
                        </td>
                        </tr>
                        {{ end }}
                        {{ $docsLink = $construct.DocsLink }}
                        {{ $supporterVerStr = getSupportedVersionString $construct.MinimumVersionsFixedIn }}
                        <tr>
                            <td><strong>{{ $construct.ConstructTypeName }}</strong></td>
                            <td>
                                <div class="scrollable-div">
                                    <ul>
                        {{ $currentType = $construct.ConstructTypeName }}
                    {{ end }}
                    <li class="list_item">{{ $construct.Query }}</li>
                {{ end }}
                <!-- Close the last construct type -->
                {{ if ne $currentType "" }}
                        </ul>
                    </div>
                </td>
                <td>
                    {{ if $supporterVerStr }}
                    Supported in Versions: {{ $supporterVerStr }} <br>
                    {{ end }}
                    {{ if $docsLink }}
                        <a href="{{ $docsLink }}" target="_blank">Docs Link</a>
                    {{ else }}
                        N/A
                    {{ end }}
                </td>
                </tr>
                {{ end }}
            </table>
        {{ else }}
            <p>No unsupported query constructs found in the source database for target YugabyteDB.</p>
        {{ end }}

        <h2>Unsupported PL/pgSQL objects</h2>
        {{ if .UnsupportedPlPgSqlObjects}}
            <p>Source schema objects having unsupported statements in PL/pgSQL code block: </p>
            <table>
                <tr>
                    <th>Feature Name</th>
                    <th>Object type</th>
                    <th>Object name</th>
                    <th>Statement</th>
                    <th>Details</th>
                </tr>
                {{ range  .UnsupportedPlPgSqlObjects }}
                    <!-- Feature Row with rowspan for grouping -->
                    <tr>
                    {{ $objectsGroupByObjectType := groupByObjectType .Objects }}
                    {{ $numUniqueObjectNamesOfAllTypes := totalUniqueObjectNamesOfAllTypes $objectsGroupByObjectType }}
                    {{ $docsLink := .DocsLink }}
                    {{ $supportedVerStr := getSupportedVersionString .MinimumVersionsFixedIn }}
                    <td rowspan={{ $numUniqueObjectNamesOfAllTypes }}><strong>{{ .FeatureName }}</strong></td>
                    {{ $isNextRowRequiredForObjectType := false }}
                    {{ range $type, $objectsByType := $objectsGroupByObjectType }}
                        {{ $objectGroupByObjectName := groupByObjectName $objectsByType }}
                        {{ $numUniqueObjectNames := numKeysInMapStringObjectInfo $objectGroupByObjectName }}
                        {{ if $isNextRowRequiredForObjectType }}
                            <tr>
                        {{ end }}
                        <td rowspan={{ $numUniqueObjectNames }} >{{ $type }}</td>
                        {{ $isNextRowRequiredForObjectName := false }}
                        {{ range $name, $objectsByName := $objectGroupByObjectName }}
                            {{ if $isNextRowRequiredForObjectName }}
                                <tr>
                            {{ end }}
                            <td>{{ $name }}</td>
                            <td>
                                <div class="scrollable-div">
                                    <ul>
                                    {{ range $objectsByName }}
                                        <li class="list_item"><pre>{{ .SqlStatement }}</pre></li>
                                    {{ end }}
                                    </ul>
                                </div>
                            </td>
                            {{ if not $isNextRowRequiredForObjectType }}
                                <td rowspan={{ $numUniqueObjectNamesOfAllTypes }}>
                                    {{ if $supportedVerStr }}
                                        Supported in Versions: {{ $supportedVerStr }} <br>
                                    {{ end }}
                                    {{ if $docsLink }}
                                        <a href="{{ $docsLink }}" target="_blank">Docs Link</a>
                                    {{ else }}
                                        N/A
                                    {{ end }}
                                </td>
                            {{ end }}
                            {{ $isNextRowRequiredForObjectName = true }}
                            {{ $isNextRowRequiredForObjectType = true }}
                            </tr>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </table>
        {{ else }}
            <p>No unsupported PL/pgSQL objects found in the source database for target YugabyteDB.</p>
        {{ end }}

        {{ if .MigrationCaveats}}
            {{ $hasMigrationCaveats := false }}
            <h2>Migration caveats</h2>
            {{range .MigrationCaveats}}
                {{if .Objects}} <!-- Check if Objects is not empty -->
                    {{ $hasMigrationCaveats = true }}
                    {{if .DisplayDDL }} <!-- for these feature we are displaying the DDLs-->
                        <h4>{{.FeatureName}}</h4>
                        {{ $supporterVerStr := getSupportedVersionString .MinimumVersionsFixedIn }}
                        {{ if $supporterVerStr }}
                            <p>Supported in Versions: {{ $supporterVerStr }} </p>
                        {{ end }}
                        <p>{{.FeatureDescription}}</p>
                        <div class="scrollable-div">
                            <ul>
                                {{range .Objects}}
                                    <li class='list_item'>{{.SqlStatement}}</li>
                                {{end}}
                            </ul>
                        </div>
                    {{else}}
                        <h4>{{.FeatureName}}</h4>
                        {{ $supporterVerStr := getSupportedVersionString .MinimumVersionsFixedIn }}
                        {{ if $supporterVerStr }}
                            <p>Supported in Versions: {{ $supporterVerStr }} </p>
                        {{ end }}
                        <p>{{.FeatureDescription}}</p>
                        <div class="scrollable-div">
                            <ul>
                                {{range .Objects}}
                                    <li class='list_item'>{{.ObjectName}}</li>
                                {{end}}
                            </ul>
                        </div>
                    {{end}}
                    {{if .DocsLink}}
                        <p id="refer-p"><a href="{{.DocsLink}}" target="_blank">Details</a></p>
                    {{end}} 
                {{end}}
            {{end}}
            {{if not $hasMigrationCaveats}} <!-- Check if no migration caveats were found -->
                <p>No migration caveats were found in the schema.</p>
            {{end}}
        {{end}}


        {{if .Notes}}
            <br>
            <hr>
            <div>
                <h4>Notes</h4>
                    <ul>
                        {{range .Notes}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
            </div>
        {{end}}

    </div>
</body>
</html>
