<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title> Schema Optimization Summary</title>
      <style>
         body {
         font-family: Arial, sans-serif;
         max-width: 800px;
         margin: 0 auto;
         padding: 2rem;
         background-color: #f9f9f9;
         color: #333;
         }
         .wrapper {
         max-width: 100%;
         margin: 20px auto;
         padding: 20px;
         background-color: white;
         border-radius: 8px;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         }
         h1, h2, h3 {
         text-align: left;
         }
         .section {
         margin-bottom: 2rem;
         }
         .file-link {
         color: #0077cc;
         text-decoration: none;
         }
         ul {
         padding-left: 1.5rem;
         }
         .scrollable-div {
         max-height: 300px;
         overflow-y: scroll;
         border: 1px solid #ccc; /* a visual separator from the body */
         padding: 10px;
         scrollbar-width: thin; /* Firefox */
         -ms-overflow-style: auto; /* IE 10+ */
         }
         .scrollable-div::-webkit-scrollbar {
         width: 8px;
         background: #f2f2f2;
         }
         .scrollable-div::-webkit-scrollbar-thumb {
         background: #ccc;
         border-radius: 4px;
         }
         .no-wrap-list li {
         white-space: nowrap;
         margin-right: 15px;
         list-style-type: disc;
         }
      </style>
   </head>
   <body>
      <div class="wrapper">
         <h1>Schema Optimization Summary</h1>
         <div class="section">
            <h2>Changes Applied</h2>
            <hr>
            {{ range .Changes }}
            <div class="section">
               <h3>{{ .Title }}</h3>
               <p>{{ .Description }}</p>
               {{ if .ReferenceFile }}
               <p>Refer to <a class="file-link" href="{{ .ReferenceFile }}" target="_blank">{{ .ReferenceFileDisplayName }}</a> for more details.</p>
               {{ end }}
               {{ if .Items }}
               <div class="scrollable-div no-wrap-list">
                  <ul>
                     {{ range .Items }}
                     <li>{{ . }}</li>
                     {{ end }}
                  </ul>
               </div>
               {{ end }}
            </div>
            {{ end }}
         </div>
      </div>
   </body>
</html>