name: Create yb-voyager binary

on:
  create:
    tags:
      - 'yb-voyager/v*' # Trigger on any tag starting with 'yb-voyager/v'

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Build Binary
        run: |
          cd yb-voyager
          if [ ${{ matrix.os }} == "ubuntu-latest" ]; then
            GOOS=linux GOARCH=amd64 go build -o voyager-linux-amd64
          elif [ ${{ matrix.os }} == "macos-latest" ]; then
            CGO_ENABLED=1 GOOS=darwin GOARCH=amd64 go build -o voyager-darwin-amd64
            CGO_ENABLED=1 GOOS=darwin GOARCH=arm64 go build -o voyager-darwin-arm64
          fi

      - name: Archive the files
        run: |
          cd yb-voyager
          cp ./src/srcdb/data/sample-ora2pg.conf
          if [ ${{ matrix.os }} == "ubuntu-latest" ]; then
            mkdir voyager-linux-amd64-package
            mv voyager-linux-amd64 voyager-linux-amd64-package
            cp ./src/srcdb/data/sample-ora2pg.conf voyager-linux-amd64-package/base-ora2pg.conf
            touch voyager-linux-amd64-package/ybSessionVariables.sql
            tar -czvf voyager-linux-amd64.tar.gz voyager-linux-amd64-package
          elif [ ${{ matrix.os }} == "macos-latest" ]; then
            mkdir voyager-darwin-amd64-package
            mv voyager-darwin-amd64 voyager-darwin-amd64-package
            cp ./src/srcdb/data/sample-ora2pg.conf voyager-darwin-amd64-package/base-ora2pg.conf
            touch voyager-darwin-amd64-package/ybSessionVariables.sql
            tar -czvf voyager-darwin-amd64.tar.gz voyager-darwin-amd64-package
            mkdir voyager-darwin-arm64-package
            mv voyager-darwin-arm64 voyager-darwin-arm64-package
            cp ./src/srcdb/data/sample-ora2pg.conf voyager-darwin-arm64-package/base-ora2pg.conf
            touch voyager-darwin-arm64-package/ybSessionVariables.sql
            tar -czvf voyager-darwin-arm64.tar.gz voyager-darwin-arm64-package
          fi

      - name: Upload Binary to Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./yb-voyager/voyager-linux-amd64.tar.gz
            ./yb-voyager/voyager-darwin-amd64.tar.gz
            ./yb-voyager/voyager-darwin-arm64.tar.gz
          repo_token: ${{ github.token }}
          overwrite: true
        