name: Go

on:
  push:
    branches: ['main', '*.*-dev', '*.*.*-dev']
  pull_request:
    branches: [main]

env:
  ORACLE_INSTANT_CLIENT_VERSION: "21.5.0.0.0-1"

jobs:
  prepare-versions:
    uses: ./.github/workflows/prepare-versions.yml

  integration-tests:
    needs: [prepare-versions]
    strategy:
      fail-fast: false
      matrix: 
        test-tags: [integration_voyager_command, integration, integration_live_migration]

    runs-on: ubuntu-22.04

    env:
      YB_VOYAGER_SEND_DIAGNOSTICS: 0

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      # https://github.com/actions/setup-java
      with:
        distribution: "temurin"
        java-version: ${{ needs.prepare-versions.outputs.java_version }}
        check-latest: true

    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ needs.prepare-versions.outputs.go_version }}

    - name: Run installer script to setup voyager and dependencies for running integration tests
      run: |
        cd installer_scripts
        yes | ./install-yb-voyager --install-from-local-source
        sudo rm /usr/bin/pg_dump
        sudo ln -s /usr/lib/postgresql/17/bin/pg_dump /usr/bin/pg_dump
        sudo rm /usr/bin/pg_restore
        sudo ln -s /usr/lib/postgresql/17/bin/pg_restore /usr/bin/pg_restore
        pg_dump --version
        pg_restore --version
        psql --version
      env:
        ON_INSTALLER_ERROR_OUTPUT_LOG: Y

    - name: Free disk 
      run: df -h /

    - name: cleanup 
      run: |
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
        sudo docker image prune --all --force
        sudo docker builder prune -a

    - name: Free disk after cleanup
      run: df -h /

    # Note: Some voyager_command related go tests use a voyager binary to call voyager commands
    # Hence its important to ensure the voyager binary built is using the changes in the PR branch - `./install-yb-voyager --install-from-local-source`
    - name: Run Integration Tests (${{ matrix.test-tags }})
      env: 
        YB_VERSION: ${{ needs.prepare-versions.outputs.yb_latest_stable }}
        PG_VERSION: "17"
        ORACLE_VERSION: "21"
        MYSQL_VERSION: "8.4"
      run: |
        cd yb-voyager
        go test -v ./... -tags ${{ matrix.test-tags }} -timeout 60m -parallel 4
