name: "MySQL: Migration Tests"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-mysql-migration-tests:
    strategy:
      matrix:
        version: [2.14.7.0-b51,2.17.1.0-b439,2.16.2.0-b41]
        use_debezium: [0, 1]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install python3 and psycopg2
      run: |
        sudo apt install -y python3
        sudo apt install -y libpq-dev
        sudo pip3 install psycopg2

    - name: Run installer script to setup voyager
      run: |
        yes | ./installer_scripts/install-yb-voyager --install-from-local-source
      env:
        ON_INSTALLER_ERROR_OUTPUT_LOG: Y
    
    - name: Fetch debezium-server
      uses: docker://amazon/aws-cli:2.7.27
      with:
        args: s3 cp s3://voyager-automation-data/debezium-latest.tar.gz .
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.RAHULB_S3_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.RAHULB_S3_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: "us-west-2"
    
    - name: Unpack debezium-server
      run: |
        sudo mkdir -p /opt/yb-voyager
        sudo tar -xvzf debezium-latest.tar.gz -C /opt/yb-voyager/
        rm debezium-latest.tar.gz

    - name: Start MySQL
      run: |
        sudo /etc/init.d/mysql start
        sleep 10

    - name: Test MySQL connection
      run: |
        mysql -uroot -proot -e 'select version();'
    
    - name: Create MySQL user
      run: |
        ./migtests/scripts/mysql/create_mysql_user

    - name: Start YugabyteDB cluster
      run: |
        docker pull yugabytedb/yugabyte:${{ matrix.version }}
        VERSION=${{ matrix.version }} docker-compose -f migtests/setup/yb-docker-compose.yaml up -d
        sleep 20

    - name: Test YugabyteDB connection
      run: |
        psql "postgresql://yugabyte:@127.0.0.1:5433/yugabyte" -c "SELECT version();"

    - name: Create YugabyteDB user
      run: |
        ./migtests/scripts/yugabytedb/create_yb_user

    - name: Enable yb-tserver-n1 name resolution
      run: |
        echo "127.0.0.1	yb-tserver-n1" | sudo tee -a /etc/hosts
        psql "postgresql://yugabyte@yb-tserver-n1:5433/yugabyte" -c "SELECT version();"

    - name: "TEST: mysql-sakila"
      run: migtests/scripts/run-test.sh mysql/sakila ${{ matrix.use_debezium }}

    - name: "TEST: mysql-datatypes"
      run: migtests/scripts/run-test.sh mysql/datatypes ${{ matrix.use_debezium }}

    - name: "TEST: mysql-constraints"
      run: migtests/scripts/run-test.sh mysql/constraints ${{ matrix.use_debezium }}

    - name: "TEST: mysql-case-indexes"
      run: migtests/scripts/run-test.sh mysql/indexes ${{ matrix.use_debezium }}

    - name: "TEST: mysql-functions"
      run: migtests/scripts/run-test.sh mysql/functions ${{ matrix.use_debezium }}

    - name: "TEST: mysql-case-sequences"
      run: migtests/scripts/run-test.sh mysql/sequences     ${{ matrix.use_debezium }}

    - name: "TEST: mysql-triggers-procedures"
      run: migtests/scripts/run-test.sh mysql/triggers-procedures    ${{ matrix.use_debezium }}

    - name: "TEST: mysql-case-views"
      run: migtests/scripts/run-test.sh mysql/views ${{ matrix.use_debezium }}

    - name: "TEST: mysql-partitions"
      run: migtests/scripts/run-test.sh mysql/partitions ${{ matrix.use_debezium }}

    - name: "TEST: mysql-sample-chinook"
      run: migtests/scripts/run-test.sh mysql/chinook ${{ matrix.use_debezium }}

    - name: "TEST: mysql-reserved-words"
      run: migtests/scripts/run-test.sh mysql/reserved-words ${{ matrix.use_debezium }}
      if: matrix.use_debezium == 0